@font-face {
  font-family: 'SerifProBold';
  src: url('./assets/SourceSerifPro-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Poppins-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('./assets/BebasNeue-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
	box-sizing: border-box;
}

.scrollbar {
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
	height: 4px;
	background-color: #DDD6D7;
	border-radius: 5px;
	width: 92%;
}

.scrollbar:hover{
    height: 6px;
  }

.thumb {
	height: 100%;
	width: 100px;
	background-color: #231F20;
	border-radius: 5px;
	cursor: pointer;
	position: absolute;
}
